.StartOver:hover{
	color:white;
	cursor:pointer;
	width:30%;
	margin-left: auto;
	margin-right: auto;
}
.StartOver{
	margin-bottom: 5px;
}

.content, .AnalysisQuestion{
	width:66%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	box-sizing: border-box;
	padding:50px;
	color:#00204A;
	background:#FDB44B;
	border:none;
	letter-spacing: 1px;
	line-height: 30px;

}
.content h3, .content h4{
	text-align: left;
}
ul{
	padding-left:0px;
	list-style: none;
}
.AnalysisName{
	color:#00BBF0;
}
.Assumptions{
	border-left:none;
	border-right:none;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.Example{
	font-weight: normal;
}
.ExampleHeader{
	margin:0;
	padding:0;
	text-decoration: underline;
}
.ExampleHeader:hover{
	cursor:pointer;
	color:white;
}
.clar{
	text-decoration: underline;
}
.clar:hover{
	cursor:pointer;
	color:white;
}
@media only screen and (max-width:700px){
	.content, .AnalysisQuestion{
		box-sizing: border-box;
		width:100%;
	}
}