

.header{
	background: rgb(45,47,51); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(45,47,51,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(45,47,51,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(45,47,51,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2f33', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	padding-top: 15px;
}
ul{
	margin-top: 15px;
}
.header h1{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align:center;
	color:rgb(240,241,244);
	text-shadow: 1px 1px rgb(66,77,88);
	font-weight:bolder;
}