
.content{
	text-align: center;
}

.Question{
	background:#FDB44B;
	padding-top: 50px;
	width:300px;
	height:250px;
	font-size: 25px;
	border:none;
	color:#00204A;
	border-radius: 50%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.Question:hover{
	cursor: pointer;
	opacity: 0.7;	
}

.Answer{
	text-align: left;
	line-height: 35px;
	letter-spacing: .75px;
	width:66%;
	padding:50px;
	background:#005792;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	color:white;
	font-family: 'Quattrocento', serif;
}
.Contact{
	margin-bottom: 100px;
}

a{
	display:block;
	text-decoration:none;
	color:white;
	margin-bottom: 10px;
	margin-top: 5px;
}

a:hover{
	color:#FDB44B;
}

@media only screen and (max-width:800px){
	.Answer{
		box-sizing: border-box;
		width:100%;
	}

}
/*@media only screen and (max-width:400px){
	.Question{
		background:#FDB44B;
		height:170px;
		width:300px;
		font-size:20px;
		color:#00204A;
		margin-top: 250px;
		border-radius: 50%;
		padding-top: 130px;
	}
	.calcIn,.calcOut{
		height:200px;
	}
}*/