.navLi{
	display:inline-block;
	margin:0px;
	text-decoration:none;
	position:relative;
	left:30%;
	padding-left: 15px;
	top:0;
	color:white;
}
.navUl{
	margin:0;
}

.link:hover{
	cursor:pointer;
	color:#FDB44B;
}

.link{
	color:white;
	font-weight: bold;
}

@media only screen and (max-width:1250px){
	.navLi{
		left:0;
	}
}