.navList{
	width:100%;
}
ul{
	box-sizing: border-box;
	list-style:none;
	text-align:center;
	background:black;
	width:100%;
}

li{
	display:inline-block;
	margin:0px;
	padding-left: 3%;
	padding-right: 3%;
	text-decoration:none;
	border-left:solid white 1px;
	border-right: solid white 1px;
}

.link{
	text-decoration:none;
	color:white;
}