.AnswerButton:hover{
	cursor: pointer;
	opacity:0.7;
}
.AnswerButton{
	box-sizing: border-box;
	background:#005792;
	color:white;
	border-radius: 20px;
	border:none;
	padding:5px;
	width:40%;
	margin-bottom: 10px;
	margin-left:30%;
	margin-right:30%;
	font-size:17px;
	font-weight: bold;
	font-family: 'Quattrocento', serif;
}

