.CalcContainer{
	width:100%;
	background:#005792;
	margin-top: 150px;
	margin-left: auto;
	margin-right:auto;
	color:white;
	font-family: 'Quattrocento', serif;
	padding-top: 50px;
	padding-bottom: 50px;
}
.CalcContainer h3{
	margin-top:0px;
}
.PlaceHolder{
	height:100px;
}
.last{
	border-bottom: ridge;
	border-radius: 0px 0px 10px 10px;
}
.TitleContainer{
	background:#FDB44B;
	height:220px;
	width:400px;
	font-size:20px;
	color:#00204A;
	border:none;
	border-radius: 50%;
	margin-top: 150px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 180px;
}
.TitleContainer h2{
	margin-top:0px;
/*	border-top: black solid 1px;
	border-bottom: black solid 1px;*/

}
.TitleContainer:hover{
	cursor: pointer;
	opacity:0.7;
}
div{
	text-align: center;
}
.left{
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
}
.right{
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
}
.clear{
	clear:both;
}
output{
	font-size:35px;
	font-weight: bolder;
	color:#FDB44B;
}
.calcIn{
	box-sizing: border-box;
	float:left;
	width:66%;
	background: #00204A;
	height:170px;
	padding:20px;
}
.calcOut{
	box-sizing: border-box;
	float:left;
	width:34%;
	height:170px;
	padding-top: 20px;
	background:#00BBF0;
}
@media only screen and (max-width:500px){
	.calcOut,.calcIn{
		padding-top: 5px;
		padding-bottom: 15px;
	}
}
@media only screen and (max-width:400px){
	.TitleContainer{
		background:#FDB44B;
		height:170px;
		width:300px;
		font-size:20px;
		color:#00204A;
		margin-top: 250px;
		border-radius: 50%;
		padding-top: 130px;
	}
	.calcIn,.calcOut{
		height:200px;
	}
}