
html{
  background:white;
  box-sizing:border-box;
  font-family: 'Quattrocento', serif;
  height:100%;
}

p{
  font-size:17px;
  line-height: 21px;
  font-family: 'Quattrocento', serif;
}
h3,h4{
  line-height: 21px;
  font-family: 'Quattrocento', serif;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
}
